.menu_top{
		width:100%;
        margin-left:auto;
		margin-right:auto;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
		float:top;
		background-color:#829ecf;
		list-style:none;
		text-decoration:none;
		font-size: 40px;
        font-family: 'Ubuntu', sans-serif;
        letter-spacing: 1px;
        height: 100px;
        padding-left:10px;
        
        }
.menu_top ul{
    padding:0;
}



.menu_top li{
        list-style-type:none;
        float:left;
        border-radius: 6em;
        background: #b0d1f7;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-top: 5px;
        margin-right: 5px;
        margin-top: 20px;
        font-weight: 600;
        color: #757575;
        
        }

				
.menu_top a{
	text-decoration:none;
    
	
	}
#topmenu_right{
    float:right;
    margin-right: 10px;
}

a:hover{
		text-decoration:none;
        }
a:visited{
        color: #757575;
        }		



.content {        
		width:100%;
        height: 100%;
        background-color:#b0d1f7;
        padding-left:10px;
        padding-top:5px;
        overflow: auto;
        float:top;
        }

.abstand{
    height: 0px;
    width: 100%;
    float: left;
    background-color: white;
    
}
#login{
    float:right;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-right: 10px;
    
}


body{
    margin:0px;
    overflow: hidden;
}

table{
    border-collapse: collapse;
    border: 1px solid grey;
    
}

th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
}

tr:nth-child(even) {background-color: #BFDEF4;}



.button {
    border-radius: 5em;
    color: black;
    background: #A4E4C4;
    border: 0;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-top: 7px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }


input:disabled {
  background: #dddddd;
}

#print{
}

select{
    border-radius: 6em;
    background: #b0d1f7;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 5px;
    margin-top: 10px;
    font-size: 40px;
    font-weight: 600;
    color: #757575;
    
    }
#first_placeholder{
    font-weight: bold;
    color: black;
}


option{
    border-radius: 6em;
    background: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 5px;
    margin-top: 10px;
    font-weight: 500;
    color: #757575;
    font-size:20px;
    }

.input_fields{
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: black;
    
}


#rezept_name{float: left;}

#suchen{
    margin-top: 5px;
    font-size:40px;
}

.zInputWrapper{
    width:auto;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    margin-top:10px;
   }

.zInput{
    display:inline-block;
    width: auto;
    height:60px;
    background-color: #dddddd;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 3px;
    padding-top: 3px;
    font-family: 'Ubuntu', sans-serif;
    text-align:center;
    cursor:default;
    color: #336600;
    font-size: 40px;
    overflow:hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.zSelected{
color: black;
background-color:#A4E4C4;
}

.view_button{
    visibility: visible;
    border-radius: 5em;
    width:auto;
    color: black;
    background: #A4E4C4;
    border: 0;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-top: 7px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}