<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    {% extends "template.html" %} <!-- template.html is taken and put before the following block -->
    {% block content %}
<h1>Home page</h1>

<div class="login">
	{% if not session %}
			<h1>Login</h1>

	{% endif %}
            <p>{{msg}}</p>
            <table>
                <tr>
                    <th>Institute</th>
                    <th>From</th> 
                    <th>To</th>              
                    <th>Title</th>
                    <th>Program name</th>
                    <th>Description</th>
                </tr>

                {% for rows in elements %}
            <tr>
                <td>{{ rows.Institute }}</td>
                <td>{{ rows.StartDate }}</td>
                <td>{{ rows.EndDate }}</td>
                <td>{{ rows.AcquiredTitle }}</td>
                <td>{{ rows.Program }}</td>
                <td>{{ rows.Description }}</td>
                <td>
            </tr>
            {% endfor %}
            </table>

</div>

    {% endblock %}
</body>
</html>