<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Flask Parent Template</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   </head>
   <body>
      <header>
         <div class="container">
            <h1 class="logo">Christian Binnyei's journey</h1>
            <strong>
               <nav>
                  <ul class="menu">
                     <li><a href="{{ url_for('home') }}">Home</a></li> <!-- Creates an URL and Link  -->
                     <li><a href="{{ url_for('workexperience') }}">Workexperience</a></li> <!-- Creates an URL and Link  -->
                  </ul>
               </nav>
            </strong>
         </div>
      </header>
      {% block content %}
      {% endblock %}
   </body>
</html>